In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("e_elaborate.in.txt")
df

                                                   4986
0     5 ingredient9922 ingredient3341 ingredient7670...
1                                      1 ingredient4654
2     5 ingredient2920 ingredient1643 ingredient5580...
3                       2 ingredient5259 ingredient9496
4     4 ingredient2857 ingredient9130 ingredient4932...
...                                                 ...
9967  5 ingredient1508 ingredient233 ingredient3435 ...
9968                                   1 ingredient6507
9969                                   1 ingredient4160
9970     3 ingredient6049 ingredient7794 ingredient3649
9971                                    1 ingredient172

[9972 rows x 1 columns]

In [5]:
df2=df.iloc[df.index%2==0]
df2.columns=["like"]
df2.index=np.arange(len(df2))
df2["no_of_like"]=df2["like"].apply(lambda x : int(x.split(" ")[0]))
df2.head()

C:\Users\VICTUS i5\AppData\Local\Temp\ipykernel_16484\594111304.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["no_of_like"]=df2["like"].apply(lambda x : int(x.split(" ")[0]))

                                                like  no_of_like
0  5 ingredient9922 ingredient3341 ingredient7670...           5
1  5 ingredient2920 ingredient1643 ingredient5580...           5
2  4 ingredient2857 ingredient9130 ingredient4932...           4
3  5 ingredient8806 ingredient5320 ingredient569 ...           5
4                     2 ingredient697 ingredient8002           2

In [9]:
df3=df.copy()
df3=df3.iloc[df.index%2==1]
df3.columns=["dislike"]
df3.index=np.arange(len(df3))
df3["no_of_dislike"]= df3["dislike"].apply(lambda x:int(x.split(" ")[0]))
df3.head()

                           dislike  no_of_dislike
0                 1 ingredient4654              1
1  2 ingredient5259 ingredient9496              2
2  2 ingredient2177 ingredient7332              2
3                 1 ingredient6321              1
4  2 ingredient4951 ingredient8544              2

In [10]:
df4=pd.concat([df2,df3],axis=1)
df4.head()

,like,no_of_like,dislike,no_of_dislike
0,5 ingredient9922 ingredient3341 ingredient7670...,5,1 ingredient4654,1
1,5 ingredient2920 ingredient1643 ingredient5580...,5,2 ingredient5259 ingredient9496,2
2,4 ingredient2857 ingredient9130 ingredient4932...,4,2 ingredient2177 ingredient7332,2
3,5 ingredient8806 ingredient5320 ingredient569 ...,5,1 ingredient6321,1
4,2 ingredient697 ingredient8002,2,2 ingredient4951 ingredient8544,2

In [11]:
indexNames=df4[df4['no_of_dislike']>=3].index
df4=df4.drop(indexNames)
df4.head()

,like,no_of_like,dislike,no_of_dislike
0,5 ingredient9922 ingredient3341 ingredient7670...,5,1 ingredient4654,1
1,5 ingredient2920 ingredient1643 ingredient5580...,5,2 ingredient5259 ingredient9496,2
2,4 ingredient2857 ingredient9130 ingredient4932...,4,2 ingredient2177 ingredient7332,2
3,5 ingredient8806 ingredient5320 ingredient569 ...,5,1 ingredient6321,1
4,2 ingredient697 ingredient8002,2,2 ingredient4951 ingredient8544,2

In [12]:
df5=df4.drop(["dislike","no_of_dislike","no_of_like"],axis=1)
df5.head()

                                                like
0  5 ingredient9922 ingredient3341 ingredient7670...
1  5 ingredient2920 ingredient1643 ingredient5580...
2  4 ingredient2857 ingredient9130 ingredient4932...
3  5 ingredient8806 ingredient5320 ingredient569 ...
4                     2 ingredient697 ingredient8002

In [13]:
df6=df4.drop(["like","no_of_like","no_of_dislike"],axis=1)
df6.head()

                           dislike
0                 1 ingredient4654
1  2 ingredient5259 ingredient9496
2  2 ingredient2177 ingredient7332
3                 1 ingredient6321
4  2 ingredient4951 ingredient8544

In [18]:
for n in range(1,6):
 df5["like" + str(n)]= df5["like"].apply(lambda x : x.split(" ")[n] if len(x.split())>n else 0)

In [19]:
df5.drop(["like"],axis=1)
df5.head()

,like,like1,like2,like3,like4,like5
0,5 ingredient9922 ingredient3341 ingredient7670...,ingredient9922,ingredient3341,ingredient7670,ingredient7324,ingredient9885
1,5 ingredient2920 ingredient1643 ingredient5580...,ingredient2920,ingredient1643,ingredient5580,ingredient4239,ingredient7087
2,4 ingredient2857 ingredient9130 ingredient4932...,ingredient2857,ingredient9130,ingredient4932,ingredient664,0
3,5 ingredient8806 ingredient5320 ingredient569 ...,ingredient8806,ingredient5320,ingredient569,ingredient3724,ingredient656
4,2 ingredient697 ingredient8002,ingredient697,ingredient8002,0,0,0

In [22]:
df5=df5.unstack()
df5.head()

like  0    5 ingredient9922 ingredient3341 ingredient7670...
      1    5 ingredient2920 ingredient1643 ingredient5580...
      2    4 ingredient2857 ingredient9130 ingredient4932...
      3    5 ingredient8806 ingredient5320 ingredient569 ...
      4                       2 ingredient697 ingredient8002
dtype: object

In [23]:
df5=df5.value_counts()
df5.head()

0                 5084
ingredient8011       6
ingredient4042       5
ingredient8029       5
ingredient2194       5
dtype: int64

In [24]:
df5=df5.to_frame()
df5.head()

                   0
0               5084
ingredient8011     6
ingredient4042     5
ingredient8029     5
ingredient2194     5

In [25]:
df5=df5.iloc[1:,:]
df5.head()

                0
ingredient8011  6
ingredient4042  5
ingredient8029  5
ingredient2194  5
ingredient2611  5

In [27]:
df5=df5.set_axis(['like_score'],axis=1,inplace=False)
df5.head()

                like_score
ingredient8011           6
ingredient4042           5
ingredient8029           5
ingredient2194           5
ingredient2611           5

In [29]:
for n in range(1,3):
 df6["dislike"+str(n)]=df6["dislike"].apply(lambda x:x.split(" ")[n] if len(x.split())> n else 0)
df6=df6.drop(["dislike"],axis=1)
df6.head()

         dislike1        dislike2
0  ingredient4654               0
1  ingredient5259  ingredient9496
2  ingredient2177  ingredient7332
3  ingredient6321               0
4  ingredient4951  ingredient8544

In [30]:
df6=df6.unstack()
df6.head()

dislike1  0    ingredient4654
          1    ingredient5259
          2    ingredient2177
          3    ingredient6321
          4    ingredient4951
dtype: object

In [31]:
df6=df6.value_counts()
df6.head()

0                 2533
ingredient9156       3
ingredient7017       3
ingredient1672       3
ingredient5411       3
dtype: int64

In [63]:
df6 = df6.set_axis(['dislike_score'], axis=1, inplace=False)
df6 = df6.iloc[1: , :]

df6.head()

                dislike_score
ingredient1672              3
ingredient5411              3
ingredient2271              3
ingredient1881              3
ingredient4414              3

In [42]:
df7=pd.concat([df5,df6],axis=1)
df7.head()

                like_score  dislike_score
ingredient8011         6.0            NaN
ingredient4042         5.0            NaN
ingredient8029         5.0            1.0
ingredient2194         5.0            NaN
ingredient2611         5.0            NaN

In [44]:
df7=df7.fillna(0)
df7.head()

                like_score  dislike_score
ingredient8011         6.0            0.0
ingredient4042         5.0            0.0
ingredient8029         5.0            1.0
ingredient2194         5.0            0.0
ingredient2611         5.0            0.0

In [45]:
df7["Ingredient"]=df7.index
df7.head()

                like_score  dislike_score      Ingredient
ingredient8011         6.0            0.0  ingredient8011
ingredient4042         5.0            0.0  ingredient4042
ingredient8029         5.0            1.0  ingredient8029
ingredient2194         5.0            0.0  ingredient2194
ingredient2611         5.0            0.0  ingredient2611

In [46]:
Ingre_list=[]
for n in range(1,len(df7)):
    if df7.iloc[n,0] >= df7.iloc[n,1]:
        Ingre_list.append(df7.iloc[n,2])

In [47]:
len(Ingre_list)

8237

In [50]:
str1=""
for i in Ingre_list:
    str1=str1+" "+i
    
ans=str(len(Ingre_list))+" "+str1
newfile=open("Ans.txt","w+")
newfile.write(ans)

199423